*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 75%;
  overflow-x: hidden; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 70%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 60%; } }

body {
  min-height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #AF67E9, #6565E7);
  background-repeat: no-repeat;
  height: 100%; }

.hide {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute; }
  @media only screen and (max-width: 900px) {
    .hide {
      overflow: visible; } }

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 900px) {
    .container {
      margin: 20rem 0; } }
  .container__box {
    width: 75rem;
    height: 40rem;
    background: #fff;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 1200px) {
      .container__box {
        width: 70rem;
        height: 40rem; } }
    @media only screen and (max-width: 900px) {
      .container__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 90%; } }
    .container__box-images {
      flex: 1 0 50%;
      position: relative; }
      @media only screen and (max-width: 900px) {
        .container__box-images {
          flex: 1 0 20%;
          width: 100%;
          height: 100%; } }
      .container__box-images--pattern {
        height: auto;
        position: absolute;
        transform: rotate(-1deg);
        left: -48rem;
        top: -24rem; }
        @media only screen and (max-width: 1200px) {
          .container__box-images--pattern {
            transform: scale(0.8) rotate(-9deg); } }
        @media only screen and (max-width: 900px) {
          .container__box-images--pattern {
            display: block;
            content: url("../images/bg-pattern-mobile.svg");
            background-repeat: no-repeat;
            width: 35rem;
            height: auto;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%); } }
        @media only screen and (max-width: 500px) {
          .container__box-images--pattern {
            transform: scale(0.8) translate(-65%); } }
      .container__box-images--woman {
        height: auto;
        position: absolute;
        top: 5rem;
        left: -7rem; }
        @media only screen and (max-width: 1200px) {
          .container__box-images--woman {
            transform: scale(0.9) rotate(-6deg);
            top: 5rem;
            left: -9rem; } }
        @media only screen and (max-width: 900px) {
          .container__box-images--woman {
            display: block;
            content: url("../images/illustration-woman-online-mobile.svg");
            background-repeat: no-repeat;
            width: 40rem;
            height: auto;
            top: -16.5rem;
            left: 47%;
            transform: translate(-50%); } }
        @media only screen and (max-width: 500px) {
          .container__box-images--woman {
            transform: scale(0.8) translate(-65%); } }
      .container__box-images--cube {
        position: absolute;
        top: 16.5rem;
        left: -8rem; }
        @media only screen and (max-width: 1200px) {
          .container__box-images--cube {
            transform: scale(0.9) rotate(-3deg);
            top: 19rem;
            left: -10rem; } }
        @media only screen and (max-width: 900px) {
          .container__box-images--cube {
            display: none; } }
    .container__box-text {
      flex: 0 0 50%;
      padding-right: 7rem;
      padding-top: 4rem;
      height: 100%; }
      @media only screen and (max-width: 900px) {
        .container__box-text {
          flex: 0 0 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0; } }
      @media only screen and (max-width: 450px) {
        .container__box-text {
          padding-top: 7rem; } }

@media only screen and (max-width: 900px) {
  .accordion {
    margin: 0 3rem;
    margin-top: -10rem; } }

.accordion__wrapper h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #1D1E35;
  padding-bottom: 2rem; }
  @media only screen and (max-width: 900px) {
    .accordion__wrapper h1 {
      font-size: 5rem;
      text-align: center;
      margin-top: 0; } }
  @media only screen and (max-width: 900px) {
    .accordion__wrapper h1 {
      font-size: 2rem;
      margin-bottom: 0;
      padding-bottom: 0; } }

.accordion__answer {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-out; }
  @media only screen and (max-width: 900px) {
    .accordion__answer {
      font-size: 1.2rem; } }
  .accordion__answer p {
    color: #787887;
    margin-top: 0; }

.accordion__item {
  border-bottom: 1px solid #E7E7E9; }
  .accordion__item:not(:last-child) {
    margin-bottom: 1.8rem; }

.accordion__question {
  color: #787887;
  position: relative;
  cursor: pointer; }
  @media only screen and (max-width: 900px) {
    .accordion__question {
      font-size: 1.5rem; } }
  .accordion__question p {
    display: flex;
    justify-content: space-between; }
  .accordion__question:hover {
    color: #F47C57; }

.expanded .accordion__answer {
  opacity: 1;
  height: auto; }

.expanded .arrow {
  transform: rotate(180deg); }

.expanded .accordion__question {
  font-weight: 700;
  color: #4A4B5E; }
