// text color
$very-dark-satured:#1D1E35;
$soft-red:#F47C57;

//background-color
$soft-violet:#AF67E9;
$soft-blue:#6565E7;

//text color 2
$very-dark-grayish-blue:#4A4B5E;
$dark-grayish-blue:#787887;

//dividers
$light-grayish-blue:#E7E7E9;




*,
*:before,
 *:after{
    box-sizing: inherit;
    }

html{
    box-sizing : border-box;
    font-size: 75%;
    overflow-x: hidden;

    @media only screen and (max-width: 1200px) {
        font-size: 70%;
        }

        @media only screen and (max-width: 600px) {
           font-size: 60%;
            }
    }

body{
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom, $soft-violet,$soft-blue );
    background-repeat: no-repeat;
    height: 100%;
}